h1 {
	padding-left : 140px;
}

#titleForm {
	width : 80%;
	margin-left : 130px;
}

#writerForm {
	width : 80%;
	margin-left : 130px;
}

#contentForm {
	width : 80%;
	margin-left : 130px;
}

#updateBtn {
	margin-left : 130px;
}